<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c195pa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cms"
        android:roundIcon="@mipmap/ic_launcher_cms_round"
        android:screenOrientation="fullSensor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.HelpActivity"></activity>
        <activity
            android:name=".ReportActivity"
            android:parentActivityName=".StudyActivity"></activity>
        <activity
            android:name=".TimerActivity"
            android:label="Study Timer"
            android:parentActivityName=".StudyActivity"/>
        <activity
            android:name=".StudyActivity"
            android:label="Your Study Sessions"
            android:parentActivityName=".TermScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".EditAssessmentActivity"
            android:parentActivityName=".AssessmentActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AddAssessmentActivity"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditCourseActivity"
            android:label="EditCourseActivity"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseActivity"
            android:label="Courses"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewTermActivity"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".TermScreenActivity"
            />
        <activity
            android:name=".TermScreenActivity"
            android:label="@string/title_activity_term_screen"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>